{{ define "faq_navbar" }}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Some link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Some other link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
{{ end }}